html,
body {
    background: #3BBBD3;
    background: linear-gradient(150deg, #3BBBD3 30%, #3BE360);
    height: 100%;
}
body {
    color: #FBFBFF !important;
    font-family: 'Droid Sans', sans-serif !important;
}

.logo {
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
    text-align: center;
    padding-top: 80px;
}

.logo h1 {
    font-family: 'Bree Serif', serif;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}